
body {
  margin: 0;
}

#root > * {
  margin: 0%;
  --Cuerpo: #ba7118;
  --Mente: #251dc2;
  --Corazon: #b82e0b;
  --Emanacion: #379689;
  --Percepcion: #5d22af;
  --Esencia: #0a5d0a;
  --Astucia: #b716b7;
  --Potencia: #4a150c;
  --Fortaleza: #181963;
}

.cuerpo {
  color: var(--Cuerpo);
}

.mente {
  color: var(--Mente);
}

.corazon {
  color: var(--Corazon);
}

.emanacion {
  color: var(--Emanacion);
}

.percepcion {
  color: var(--Percepcion);
}

.esencia {
  color: var(--Esencia);
}

.astucia {
  color: var(--Astucia);
}

.potencia {
  color: var(--Potencia);
}

.fortaleza {
  color: var(--Fortaleza);
}

@font-face {
      font-family: 'DpolyFourSider';
      src: url('/assets/dice_fonts/DpolyFourSider-GM6P.ttf') format('truetype');
 }
 
  @font-face {
      font-family: 'DpolySixSider';
      src: url('/assets/dice_fonts/DpolySixSider-jqRO.ttf') format('truetype');
 }
 
  @font-face {
      font-family: 'DpolyEightSider';
      src: url('/assets/dice_fonts/DpolyEightSider-JvWo.ttf') format('truetype');
 }
 
  @font-face {
      font-family: 'DpolyTenSider';
      src: url('/assets/dice_fonts/DpolyTenSider-z1Jw.ttf') format('truetype');
 }
 
  @font-face {
      font-family: 'DpolyTwelveSider';
      src: url('/assets/dice_fonts/DpolyTwelveSider-5KWZ.ttf') format('truetype');
 }
 
  @font-face {
      font-family: 'DpolyTwentySider';
      src: url('/assets/dice_fonts/DpolyTwentySider-62jq.ttf') format('truetype');
 }

/* Add classes for each die type */
.d4 {
    font-family: 'DpolyFourSider', sans-serif;
}

.d6 {
    font-family: 'DpolySixSider', sans-serif;
}

.d8 {
    font-family: 'DpolyEightSider', sans-serif;
}
.d10 {
    font-family: 'DpolyTenSider', sans-serif;
}
.d12 {
    font-family: 'DpolyTwelveSider', sans-serif;
}
.d20 {
    font-family: 'DpolyTwentySider', sans-serif;
}

.die {
    font-size: 5em;
    position: relative;;
}

.die-char {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.back {
  z-index: -1;  
  color: white;
}